[submodule "frontend"]
	path = frontend
	url = https://github.com/ECLteam/EuoraCraftLauncher-UI
	branch = main
[submodule "ECL/game"]
	path = ECL/game
	url = https://github.com/ECLteam/ECLauncherCore
	branch = main
[submodule "ECL/services/florolding"]
	path = ECL/services/florolding
	url = https://github.com/ECLteam/Florolding
