[submodule "frontend"]
	path = frontend
	url = https://github.com/ECLteam/EuoraCraftLauncher-UI
	branch = main
[submodule "ECL/Game"]
	path = ECL/Game
	url = https://github.com/ECLteam/ECLauncherCore
